<%= link_to "Back to products", products_path, class: "back-link" %>

<section class="product">
  <%= image_tag @product.featured_image if @product.featured_image.attached? %>

  <div class="product-info">
    <% cache @product do %>
      <h1><%= @product.name %></h1>
      <%= @product.description %>
    <% end %>

    <%= render "inventory", product: @product %>

    <% if authenticated? %>
      <div class="product-actions">
        <%= link_to "Edit", edit_product_path(@product) %>
        <span class="btn-delete">
          <%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
        </span>
      </div>
    <% end %>
  </div>
</section>
